{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block header %}Employee Competency Profiles{% endblock header %}
{% block header-button %}
{% endblock header-button %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}" />
    <script src="{% static 'js/datatables.min.js' %}"></script>
{% endblock head %}
{% block content %}
<section class="p-3 sm:p-5">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <!-- Start coding here -->
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                <div class="w-full md:w-1/2">
                    
                </div>
            </div>
            <div class="overflow-x-auto p-5">
                <table id="jcpTable" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-4 py-3">Position</th>
                            <th scope="col" class="px-4 py-3">Employee</th>
                            <th scope="col" class="px-4 py-3">Created</th>
                            <th scope="col" class="px-4 py-3">Modified</th>
                            <th scope="col" class="px-4 py-3">
                                <span class="sr-only">Actions</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jcp in jcps %}
                        <tr class="border-b dark:border-gray-700">
                            <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ jcp.position }}</th>
                            <td class="px-4 py-3">{{ jcp.employee }}</td>
                            <td class="px-4 py-3">{{ jcp.created }}</td>
                            <td class="px-4 py-3">{{ jcp.updated }}</td>
                            <td class="px-4 py-3 flex items-center justify-end">
                                <a href="{% url 'job_competency_profile_questions_list' jcp.pk %}">
                                    <button type="button" id="{{jcp.id}}"
                                        class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100" >
                                        <svg class="w-4 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 14">
                                        <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                        <path d="M10 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                        <path d="M10 13c4.97 0 9-2.686 9-6s-4.03-6-9-6-9 2.686-9 6 4.03 6 9 6Z"/>
                                        </g>
                                        </svg>
                                    </button>
                                </a>
                                {% comment %} <button type="button" id="{{jcp.id}}" hx-delete="{% url "delete_question" jcp.pk %}" hx-target="#jcp-list" hx-confirm="Are you sure you want to remove this jcp?"
                                    class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100" >
                                    <svg class="w-4 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h16M7 8v8m4-8v8M7 1h4a1 1 0 0 1 1 1v3H6V2a1 1 0 0 1 1-1ZM3 5h12v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V5Z"/>
                                    </svg>
                                </button> {% endcomment %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>



<script>
    new DataTable('#jcpTable', {
        dom: 'Bfrtip',
        // dom: 'Pfrtip',

        pageLength: 50,
        select: true,

        buttons: ['searchPanes', 'searchBuilder', 'excel', 'pdf', 'print'],

        // responsive: true,
        // searchPanes: {
        //         initCollapsed: true
        // },
    });
</script>
{% endblock content %}