{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" href="{% static 'logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/flowbite.min.css' %}">
    <script>
        document.addEventListener("contextmenu", (event) => {
            event.preventDefault();
        });
    </script>
    <script src='{% static "js/index.global.min.js" %}'></script>
    <style>
        body {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
    {% block head %}{% endblock head %}
</head>

<body class="flex-auto" oncontextmenu="return false;" autocomplete="off"> <!-- handle right clicking -->
    {% autoescape off %}
    <!-- MAIN CONTENT -->
        <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <a href="{% url 'home' %}">
                    <img class="mx-auto h-10 w-auto" src="{% static 'img/logo.png' %}" alt="Telecom Namibia Limited">
                </a>
            </div>

            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                {% block content %}
                <main id="main-content">
                <main>
                {% endblock content %}
            </div>
        </div>
        <!-- MAIN CONTENT END -->

    <!-- SCRIPTS -->
    <script src="{% static 'js/flowbite.min.js' %}"></script>
    {% block script %}{% endblock script %}
    <!-- SCRIPTS END -->

    {% endautoescape %}
</body>

</html>