<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
	<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
		<tr>
			<th scope="col" class="px-4 py-3">Question</th>
			<th scope="col" class="px-4 py-3">Category</th>
			<th scope="col" class="px-4 py-3">Employee Answer</th>
			<th scope="col" class="px-4 py-3">Supervisor Answer</th>
			<th scope="col" class="px-4 py-3">
				<span class="sr-only">Actions</span>
			</th>
		</tr>
	</thead>
	<tbody>
		{% for question in questions %}
		<tr class="border-b dark:border-gray-700">
			<td class="px-4 py-3">{{ question.text }}</td>
			<td class="px-4 py-3">{{ question.category }}</td>
			<td class="px-4 py-3 flex items-center justify-end" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
				<fieldset>
                    <legend class="sr-only">Countries</legend>
                  
                    <div class="flex items-center mb-4">
                      <input id="country-option-1" type="radio" name="countries" value="USA" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600" checked>
                      <label for="country-option-1" class="block ms-2  text-sm font-medium text-gray-900 dark:text-gray-300">
                        United States
                      </label>
                    </div>
                  
                    <div class="flex items-center mb-4">
                      <input id="country-option-2" type="radio" name="countries" value="Germany" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
                      <label for="country-option-2" class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        Germany
                      </label>
                    </div>
                  
                    <div class="flex items-center mb-4">
                      <input id="country-option-3" type="radio" name="countries" value="Spain" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600">
                      <label for="country-option-3" class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        Spain
                      </label>
                    </div>
                  
                    <div class="flex items-center mb-4">
                      <input id="country-option-4" type="radio" name="countries" value="United Kingdom" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring:blue-300 dark:focus-ring-blue-600 dark:bg-gray-700 dark:border-gray-600">
                      <label for="country-option-4" class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        United Kingdom
                      </label>
                    </div>
                  
                    <div class="flex items-center">
                      <input id="option-disabled" type="radio" name="countries" value="China" class="w-4 h-4 border-gray-200 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600" disabled>
                      <label for="option-disabled" class="block ms-2 text-sm font-medium text-gray-300 dark:text-gray-700">
                        China (disabled)
                      </label>
                    </div>
                  </fieldset>
			</td>
		</tr>
		{% empty %}
		<tr class="border-b dark:border-gray-700">
			<td class="px-4 py-3">No Questions</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
