{% extends "base.html" %}
{% block title %}{{ application.vacancy }}{% endblock title %}
{% block header %}{{ application.vacancy }}{% endblock header %}
{% block content %}
<section class="p-3 sm:p-5">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden p-8">



            <div class="bg-white shadow overflow-hidden sm:rounded-lg">
                <div class="px-4 py-5 sm:px-6">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                        Vacancy Details
                    </h3>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">
                        Details and information about vacancy.
                    </p>
                </div>
                <div class="border-t border-gray-200">
                    <dl>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Deadline
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ application.vacancy.deadline }}
                            </dd>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Position
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ application.vacancy }}
                            </dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Salary Grade
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ application.vacancy.position.job_grade|upper }}
                            </dd>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                City/Town
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ application.vacancy.town }}
                            </dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Key Purpose
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                <div class="ck ck-content">
                                    {{ application.vacancy.position.key_purpose|safe }}
                                </div>
                            </dd>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Key Result Areas
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                <div class="ck ck-content">
                                    {{ application.vacancy.position.key_result_areas|safe }}
                                </div>
                            </dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Key Knowledge
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                <div class="ck ck-content">
                                    {{ application.vacancy.position.key_knowledge|safe }}
                                </div>
                            </dd>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Personality Requirements
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                <div class="ck ck-content">
                                    {{ application.vacancy.position.personlaity_requirements|safe }}
                                </div>
                            </dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Exprience Required
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                <div class="ck ck-content">
                                    {{ application.vacancy.position.experience }}
                                </div>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>

            <br />

            <div class="bg-white shadow overflow-hidden sm:rounded-lg">
                <div class="px-4 py-5 sm:px-6">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                        Applicant Details
                    </h3>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">
                        Details and informations about user.
                    </p>
                </div>
                <div class="border-t border-gray-200">
                    <dl>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Full name
                            </dt>
                            <dd class="text-capitalize mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {% if application.user %}
                                {{ application.user.profile.first_name }} {{ application.user.profile.last_name }}
                                {% else %}
                                {{ application.first_name }} {{ application.last_name }}
                                {% endif %}
                            </dd>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Email
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {% if application.user %}
                                {{ application.user.email }}
                                {% else %}
                                {{ application.email }}
                                {% endif %}
                            </dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Date of Birth
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {% if application.user %}
                                {{ application.user.profile.date_of_birth }}
                                {% else %}
                                {{ application.date_of_birth }}
                                {% endif %}
                            </dd>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Contact Number
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {% if application.user %}
                                {{ application.user.profile.primary_contact }}
                                {% if application.user.profile.secondary_contact %}
                                / {{ application.user.profile.secondary_contact }}
                                {% endif %}
                                {% else %}
                                {{ application.primary_contact }}
                                {% if application.secondary_contact %}
                                / {{ application.secondary_contact }}
                                {% endif %}
                                {% endif %}
                            </dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Qualifications
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                
                                {% for qualification in application.qualifications.all %}
                                    {% if qualification > 1 %}{{ qualification }},{% else %}{{ qualification }}{% endif %}
                                {% endfor %}
                                    
                            </dd>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Cover Letter
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                
                                {% if application.cover_letter %}
                                    <div class="ck ck-content">
                                        {{ application.cover_letter|safe }}
                                    </div>
                                {% else %}
                                    No cover letter
                                {% endif %}
                            </dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                CV
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {% if application.user.profile.cv or application.cv %}
                                <button data-modal-target="cv-modal" data-modal-toggle="cv-modal" type="button"
                                    class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm p-1 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 text-uppercase">
                                    <i>Click to view CV</i>
                                </button>
                                {% else %}
                                No CV Uploaded
                                {% endif %}
                            </dd>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Required Documents
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {% if application.document %}
                                <button data-modal-target="documents-modal" data-modal-toggle="documents-modal"
                                    type="button"
                                    class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm p-1 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 text-uppercase">
                                    <i>Click to view Required Documents</i>
                                </button>
                                {% else %}
                                No Documents Uploaded
                                {% endif %}
                            </dd>
                        </div>
                        {% if application.user %}
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Qualifications
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {% for education in application.user.education.all %}
                                <button href="{% url 'education_detail' education.pk %}" hx-trigger="click"
                                    hx-target="#education-modal-body" hx-swap="outerHTML" type="button"
                                    class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm p-1 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 text-uppercase">
                                    <i>{{ education.qualification|upper }}</i>
                                </button>
                                {% empty %}
                                No Qualifications
                                {% endfor %}
                            </dd>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Certifications
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {% for certification in application.user.certification.all %}
                                <button href="{% url 'certification_detail' certification.pk %}" hx-trigger="click"
                                    hx-target="#certification-modal-body" hx-swap="outerHTML" type="button"
                                    class="text-white text-base bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm p-1 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 text-uppercase">
                                    <i>{{ certification|upper }}</i>
                                </button>
                                {% empty %}
                                No Certifications
                                {% endfor %}
                            </dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Experiences
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {% for experience in application.user.experience.all %}
                                <button href="{% url 'education_detail' experience.pk %}" hx-trigger="click"
                                    hx-target="#experience-modal-body" hx-swap="outerHTML" type="button"
                                    class="text-white text-base bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm p-1 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 text-uppercase">
                                    {{ experience|upper }}
                                </button>
                                {% empty %}
                                No Experiences
                                {% endfor %}
                            </dd>
                        </div>
                        {% endif %}
                    </dl>
                </div>
            </div>



            <br />



            <div class="bg-white shadow overflow-hidden sm:rounded-lg">
                <div class="px-4 py-5 sm:px-6">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                        Evaluation Form
                    </h3>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">
                        Details and informations about user.
                    </p>
                </div>
                <div class="bg-gray-50 px-4 py-5 ">
                    <div class="text-sm font-medium text-gray-500">
                        In this section you will evaluate the applicant. If their credentials are applicable
                        you can select <span class="btn btn-outline-success">Shortlist</span> or <span
                            class="btn btn-outline-danger">Reject</span>
                        if they are not and leave remarks as to why you may have rejected them. An <strong>AUTOMATED
                            EMAIL</strong>
                        will be sent to them based on your choice.
                    </div>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Current Application Status
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {% if application.status == "rejected" %}
                        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                            role="alert">
                            <span class="font-medium">{{ application.status|upper }}.</span> Application evaluated
                        </div>
                        {% elif application.status == "shortlisted" %}
                        <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
                            role="alert">
                            <span class="font-medium">{{ application.status|upper }}.</span> Application evaluated
                        </div>
                        {% else %}
                        {{ application.status|upper }}
                        {% endif %}
                    </dd>
                </div>
                {% if application.status == "shortlisted" or application.status == "rejected" %}
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Remarks
                    </dt>
                    <p class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ application.remarks }}
                    </p>
                </div>
                {% else %}
                <div class="bg-gray-50 px-4 py-5">
                    <div class="d-flex justify-content-start align-items-center" id="application_evaluation">
                        {% include "recruitment/application/partials/evaluation_form.html" %}
                    </div>
                </div>
                {% endif %}
            </div>

            <!-- CV MODAL START -->
            <div id="cv-modal" style="height: 100%;" data-modal-backdrop="static" tabindex="-1" aria-hidden="true"
                class="hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full h-full">
                <div class="w-full h-full">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 w-full h-full">
                        <!-- Modal header -->
                        <div
                            class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                            <h4>CV</h4>
                            <button type="button"
                                class="text-red-600 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-4 h-4 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-hide="cv-modal">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-1 md:p-5 space-y-4 h-full">
                            {% if application.user %}
                            {% if application.user.profile.cv %}
                            <object class="h-full w-full" data="{{ application.user.profile.cv.url }}"
                                type="application/pdf">
                                <p>Unable to display PDF. Please <a
                                        href="{{ application.user.profile.cv.url }}">download</a> it instead.</p>
                            </object>
                            {% else %}
                            <p>No file uploaded.</p>
                            {% endif %}
                            {% else %}
                            {% if application.cv %}
                            <object class="h-full w-full" data="{{ application.cv.url }}" type="application/pdf">
                                <p>
                                    Unable to display PDF. Please <a class="t"
                                        href="{{ application.cv.url }}">download</a> it instead.</p>
                            </object>
                            {% else %}
                            <p>No file uploaded.</p>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- CV MODAL END -->


            <!-- Police Clearance MODAL START -->
            <div id="documents-modal" style="height: 100%;" data-modal-backdrop="static" tabindex="-1"
                aria-hidden="true"
                class="hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full h-full">
                <div class="w-full h-full">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 w-full h-full">
                        <!-- Modal header -->
                        <div
                            class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                            <h4>Required Documents</h4>
                            <button type="button"
                                class="text-red-600 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-4 h-4 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-hide="documents-modal">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-1 md:p-5 space-y-4 h-full">
                            {% if application.document %}
                            <object class="h-full w-full" data="{{ application.document.url }}" type="application/pdf">
                                <p>Unable to display PDF. Please <a href="{{ application.document.url }}">download</a>
                                    it instead.</p>
                            </object>
                            {% else %}
                            <p>No file uploaded.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Police Clearance MODAL END -->

        </div>
    </div>
</section>
{% endblock content %}