{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}" />
<script src="{% static 'js/datatables.min.js' %}"></script>
<script src="{% static 'js/ag-grid-community.min.js' %}"></script>
{% endblock head %}
{% block header %}Applications{% endblock header %}
{% block content %}
<!--
    If you access the page as a manager or >
-->
{% if user.profile.user_type == "manager" or user.profile.user_type == "admin" or user.profile.user_type == "chief" %}
<section class="p-3 sm:p-5">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <!-- Start coding here -->
        <div class="bg-white dark:bg-gray-800 shadow-md sm:rounded-lg overflow-hidden">
            <div class="overflow-x-auto p-8">
                <!-- <table id="jcpTable" class="w-full text-sm text-left text-gray-500 dark:text-gray-400"> -->
                <table id="jcpTable" class="display nowrap">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-4 py-3">Full Name</th>
                            <th scope="col" class="px-4 py-3">Email</th>
                            <th scope="col" class="px-4 py-3">External/Internal</th>
                            <th scope="col" class="px-4 py-3">Vacancy</th>
                            <th scope="col" class="px-4 py-3">Qualifications</th>
                            <th scope="col" class="px-4 py-3">Status</th>
                            <th scope="col" class="px-4 py-3">Submission Date</th>
                            <th scope="col" class="px-4 py-3">
                                <span class="sr-only">Actions</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for application in applications %}
                        <tr class="border-b dark:border-gray-700">
                            {% if application.user %}
                            <th scope="row"
                                class="capitalize px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ application.user.profile.first_name }} {{ application.user.profile.last_name }}</th>
                            {% else %}
                            <th scope="row"
                                class="capitalize px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ application.first_name }} {{ application.last_name }}</th>
                            {% endif %}
                            {% if application.user.email %}
                            <td class="px-4 py-3">{{ application.user.email }}</td>
                            {% else %}
                            <td class="px-4 py-3">{{ application.email }}</td>
                            {% endif %}
                            {% if application.vacancy.is_external %}
                            <td class="px-4 py-3">External</td>
                            {% else %}
                            <td class="px-4 py-3">Internal</td>
                            {% endif %}
                            <td class="px-4 py-3">{{ application.vacancy }}</td>
                            <td class="px-4 py-3">
                                {% for qualification in application.qualifications.all %}
                                    {{ qualification }}
                                {% endfor %}
                            </td>
                            <td class="px-4 py-3">{{ application.status }}</td>
                            <td class="px-4 py-3">{{ application.submission_date }}</td>
                            <td class="px-4 py-3 flex items-center justify-end"
                                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                                <a href="{% url 'application_detail' application.pk %}">
                                    <button type="button" id="{{application.id}}"
                                        class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100">
                                        <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 14">
                                            <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2">
                                                <path d="M10 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                                <path
                                                    d="M10 13c4.97 0 9-2.686 9-6s-4.03-6-9-6-9 2.686-9 6 4.03 6 9 6Z" />
                                            </g>
                                        </svg>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endif %}


<script>
    new DataTable('#jcpTable', {
        dom: 'Bfrtip',
        //dom: 'Pfrtip',

        pageLength: 50,
        select: true,

        buttons: ['searchPanes', 'searchBuilder', 'excel', 'pdf', 'print'],

        responsive: true,
        searchPanes: {
            initCollapsed: true
        },
    });
</script>
{% endblock content %}