{% extends "base.html" %}
{% load tailwind_filters %}
{% block title %}Edit "{{ course.title }}"{% endblock title %}
{% block content %}
<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Edit "{{ course.title }}"</h1>
    </div>
</header>
<section class="p-3 sm:p-5">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">    
            <div class="p-5">
                <form method="post">
                    {{ formset|crispy }}
                    <hr/>
                    {{ formset.management_form }}
                    {% csrf_token %}
                    <button class="w-full text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" type="submit">Save course</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}