{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block header %}Interviews{% endblock header %}
{% block header-button %}
    {% if applications %}
        <a href="{% url 'schedule' %}" class="px-4 py-2 text-sm text-white rounded-md bg-primary hover:bg-primary-dark focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark">
            Schedule Interview
        </a>
    {% endif %}
{% endblock header-button %}
{% block head %}
<script src='{% static "js/index.global.min.js" %}'></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var today = new Date();  // Get the current date in JavaScript
        var formattedToday = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialDate: formattedToday,
            initialView: 'dayGridMonth',
            hiddenDays: [0, 6],
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },
            businessHours: {
                // Define business hours (8 am to 5 pm)
                daysOfWeek: [1, 2, 3, 4, 5],  // Monday to Friday
                startTime: '08:00',
                endTime: '17:00'
            },
            slotMinTime: '08:00',  // Start time for each day
            slotMaxTime: '17:00',  // End time for each day
            allDaySlot: false,  // Disable the all-day slot
            height: 'auto',
            navLinks: true, // can click day/week names to navigate views
            //editable: true,
            selectable: true,
            selectMirror: true,
            nowIndicator: true,
            events: {
                url: "{% url "interview_data" %}",
                method: "GET",
                failure: function () {
                    alert("Failed to fetch calendar data");
                }
            }
        });

        calendar.render();
    });

</script>
<style>
    #calendar {
        max-width: 1100px;
        margin: 0 auto;
    }

    a {
        text-decoration: none;
        /* Remove underlines */
        color: inherit;
        /* Inherit the color from the parent */
    }
</style>
{% endblock head %}
{% block content %}
<section class="p-2 sm:p-5">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
            <div class="overflow-x-auto">
                <div class="p-5 " id='calendar'></div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}